<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 계정 등록 웹페이지</title>
</head>
<body>
    <h1>관리자 계정 등록 웹페이지</h1>
    <form action="/admin/create" method="post">
        아이디: <input type="text" name="adminId" id="adminId" />
        비밀번호: <input type="password" name="adminPassword" id="adminPassword" />
        <input type="submit" value="등록" />
    </form>
</body>
</html>